@namespace HOSKYSWAP.UI.WASM.Pages
@inherits IndexBase
@page "/"
<PageTitle>$HOSKY SWAP</PageTitle>

<MudCard Class="max-w-base-content w-full backdrop-filter backdrop-blur-[5px] bg-transparent-dark flex flex-col justify-center mt-12 p-4 pb-4 text-white">
    <div>
        <div class="font-semibold text-lg float-left">Swap</div>
        <div class="font-semibold text-lg float-right">Total Volume</div>
    </div>
    <div>
        <div class="float-left">Cardano network</div>
        <div class="float-right text-currency">$103,909</div>
    </div>
    <div class="flex flex-col align-center gap-y-2 mt-4">
        <div class="w-full">
            <div class="text-md">From:</div>
            <div class="flex flex-row w-full mt-2">
                <MudTextField Value="FromAmount" Placeholder="0.0" Variant="Variant.Outlined" Margin="Margin.None" Class="hsky-textfield mr-2 w-3/4 inline font-semibold" T="double" ValueChanged="OnFromAmountChange"></MudTextField>
                <MudSelect @bind-Value="FromToken" Variant="Variant.Outlined" Margin="Margin.None" OffsetY="true" Class="text-white inline hsky-select w-[125px]" Dense="true" PopoverClass="bg-dark-color text-white">
                    <MudSelectItem Value="@("HOSKY")" Class="flex flex-row align-center">
                        <img src="/images/hosky.webp" class="hsky-select-item-image "/><span class="inline text-xs font-semibold">HOSKY</span>
                    </MudSelectItem>
                    <MudSelectItem Value="@("ADA")">
                        <img src="/images/cardano_logo_white.svg" class="hsky-select-item-image "/> <span class="inline text-xs font-semibold">ADA</span>
                    </MudSelectItem>
                </MudSelect>
            </div>
        </div>

        <div class="w-full">
            <div class="text-md">Price:</div>
            <div class="w-full mt-2">
                <MudTextField Format="F6" @bind-Value="PriceAmount" Placeholder="Enter Price" Variant="Variant.Outlined" Class="hsky-textfield mr-2 w-3/4 inline" AdornmentText="$ADA" Adornment="Adornment.End"></MudTextField>
            </div>
        </div>

        <div class="-mt-6">
            <MudIconButton Icon="@Icons.Filled.SwapVert" Class="text-white" Size="Size.Large" OnClick="OnSwapClicked"/>
        </div>

        <div class="w-full -mt-6">
            <div class="text-md">To:</div>
            <div class="flex flex-row w-full mt-2">
                <MudTextField @bind-Value="ToAmount" Format="N0" Placeholder="0.0" Variant="Variant.Outlined" Margin="Margin.None" Class="hsky-textfield mr-2 w-3/4 inline font-semibold"></MudTextField>
                <MudSelect @bind-Value="ToToken" Variant="Variant.Outlined" Margin="Margin.None" OffsetY="true" Class="text-white inline hsky-select w-[125px]" Dense="true" PopoverClass="bg-dark-color text-white">
                    <MudSelectItem Value="@("HOSKY")" Class="flex flex-row align-center">
                        <img src="/images/hosky.webp" class="hsky-select-item-image "/><span class="inline text-xs font-semibold">HOSKY</span>
                    </MudSelectItem>
                    <MudSelectItem Value="@("ADA")">
                        <img src="/images/cardano_logo_white.svg" class="hsky-select-item-image "/> <span class="inline text-xs font-semibold">ADA</span>
                    </MudSelectItem>
                </MudSelect>
            </div>
        </div>

        <div>
            Swap Fee: <span class="text-currency">0.16429 $ADA</span>
        </div>

        <MudButton Class="text-sm bg-gradient-to-r from-aph-indigo to-aph-blue filter brightness-100 hover:brightness-125 text-white font-semibold rounded-lg p-3 normal-case w-full">
            <MudIcon Icon="@Icons.Filled.CompareArrows" Class="mr-2"/> Swap
        </MudButton>

        <div class="w-full text-right mt-2">
            Total Fees Collected: <span class="text-currency">2.3483 $ADA</span>
        </div>
    </div>
</MudCard>

<div class="flex flex-col">
    <div class="w-full flex justify-center">
        <MudCard Class="backdrop-filter backdrop-blur-[5px] bg-transparent-dark flex flex-row justify-center mt-12 p-[4px] text-white w-full place-self-center">
            <div class="bg-green-500 h-2 p-0" style="width:@BuyRatioWidth%">
            </div>

            <div class="bg-red-500 h-2 p-0" style="width:@SellRatioWidth%">
            </div>
        </MudCard>
    </div>
    <div class="flex flex-row w-full justify-center pb-8">
        <MudCard Class="backdrop-filter backdrop-blur-[5px] bg-transparent-dark flex flex-col justify-start mt-4 text-white h-[400px] w-[400px] pb-[1px]">
            <div class="text-center font-semibold text-xl p-2 mt-4">Buy Order</div>
            <div class="flex flex-col">
                <div class="grid grid-cols-2 gap-0 p-2">
                    <div class="font-semibold text-left">Amount: ($HOSKY)</div>
                    <div class="font-semibold text-right">Price ($ADA)</div>
                </div>
                <div class="overflow-y-auto max-h-[300px] cursor-pointer">
                    @for (var i = 0; i < 18; i++)
                    {
                        <div class="grid grid-cols-2 text-center p-2 odd:bg-dark-color even:bg-row-color hover:selected-order">
                            <div class="text-left">1,000,000,000,000 $HOSKY</div>
                            <div class="text-green-500 text-right">1.937430 $ADA</div>
                        </div>
                    }
                </div>
            </div>
        </MudCard>
        <MudCard Class="backdrop-filter backdrop-blur-[5px] bg-transparent-dark flex flex-col justify-start mt-4 text-white ml-4 h-[400px] w-[400px] pb-[1px]">
            <div class="text-center font-semibold text-xl p-2 mt-4">Sell Order</div>
            <div class="flex flex-col">
                <div class="grid grid-cols-2 gap-0 p-2">
                    <div class="font-semibold text-left">Price ($ADA)</div>
                    <div class="font-semibold text-right">Amount: ($HOSKY)</div>
                </div>
                <div class="overflow-y-auto max-h-[300px] cursor-pointer">
                    @for (var i = 0; i < 2; i++)
                    {
                        <div class="grid grid-cols-2 text-center p-2 odd:bg-dark-color even:bg-row-color hover:selected-order">
                            <div class="text-red-500 text-left">1.937430 $ADA</div>
                            <div class="text-right">1,000,000,000,000 $HOSKY</div>
                        </div>
                    }
                </div>
            </div>
        </MudCard>
    </div>
</div>